.inboxMain{
    margin: 1px;
    background-color:#FEFCF3;
    width: 50%;
    height:100%;
    color: black;
    

    
}
.bar{
   
    background-color: grey;
    height: 4%;
    border-radius: 25px;
    display: flex;
  
}
.searchBar
{
  
    border-radius: 25px;
    width: 90%;

}
.search{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}
.imback
{
    width: 50%;
}